html {
  font-size: 10px;
}

* {
  
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(244,244,244);
  color: #333;
}

p {
  font-size: 1.6rem;
}

small {
  font-size: 1.2rem;
}

.container {
  margin: 0 auto;
  max-width:1000px;
  padding: 40px;
}

.title {
  font-size: 4.4rem;
  text-align: center
}

.form {
  display:grid;
}

.label {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
}

.input {
  font-size: 1.6rem;
  padding: 0.5rem 0rem 0.5rem 2rem;
  line-height: 2.7rem;
  border-radius: 20px;
  border: 1px solid #ffffff;
  margin-bottom: 1rem;
  margin-right: -9.85rem;
}

.button{
  background: linear-gradient(to right, rgb(77, 228, 198), rgb(13, 169, 189));
  color: white;
  padding: 1rem 2rem;
  border: 1px solid #ffffff;
  border-radius: 30px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 250ms;

 
  
}
 /* .button {
  height: 46px;
  padding: 10px 26px;
  border: 0;
  background: linear-gradient(to right,rgba(var(--tmdbLightGreen),1) 0%,rgba(var(--tmdbLightBlue),1) 100%);
  border-radius: 30px;

  right: -1px;
  color: #fff;
} */

.button:hover {
  color: rgba(0,0,0,0.85);
  font-weight: bold;
}

@media (min-width:786px){
  .form {
      grid-template-columns: auto 1fr auto;
      grid-gap: 1rem;
      align-items: center;
  }
  
  .input {
      margin-bottom: 0;
  }
}

.card--list{
  margin-top: 4rem;
}

.card{
  padding: 2rem 4rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
  margin-bottom: 2rem;
  background-color: white;
}

.card--title{
  margin-bottom: 0.5rem;
  font-size: 3.2rem;

}

.card--image{
  margin: 0 auto;
  display: block;
}


